$sp1: 100px;
$default-height: 100%;
// Section Class Heights
$s30:     30px;
$s1:      100px;
$s2:      200px;
$s3:      300px;
$s4:      400px;
$s5:      500px;
$s6:      600px;
$s7:      700px;
$s8:      800px;
$s8_5:    850px;
$s10:     1000px;
$special: $s4 + $s30;

// Section Class Widths
$w100: 100%;
$w50: 50%;

// Colors
$grey: #666;
$custBack: linear-gradient(to left, #000428, #004e92);

// C-Sharp Colors
$helpGrey     :    #6a737d;
$CSNameS      :    #3dbbb0;
$CSClass      :    #1e3477;
$CSBlue2      :    #4d9cd6;
$CSBlue3      :    #1e2f73;
$CSString     :    #c07a55;
$CSComment    :    #629755;
$CSComment2   :    #4ba449;
$CSComment3   :    #41a439;
$CSDAO        :    #b8d7a3;

// JavaScript Colors
$JSOrn: #cc7832;
$JSPurp: #8a76aa;
$JSYell: #ffc66d;
$JSGree: #6a8759;

// background-color: VVV
$custBackSolid: #003067;
$azr: azure;

// Helper text color
$hlp: #818181;

// Alignment
$ctr: center;

$spacer_xs: 10px;