/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.showMobile {
  display: none;
}

.showMobiles {
  display: none;
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .showMobiles {
    display: block;
  }

  .nukeIt2 {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .nukeIt {
    display: none !important;
  }

  .nukeIt2 {
    display: none !important;
  }

  .showMobiles {
    display: none;
  }

  .showMobile {
    display: block;
  }
}
