@import "_variables";

body {
  height: auto;
  background-color: #f5f2d5 !important;
}

.spBtnWidth {
  width: auto !important;
}

#currentTime {
  cursor: pointer;
}

.clock {
  // width: 115px !important;
  text-align: center !important;
  height: 20px !important;
  border-radius: 6px !important;
  border: 1px solid white !important;
  background-color: #a5a5a5 !important;
  margin-right: 25px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr {
  border: 1px solid black;
}

.spacer {
  height: $sp1;
}

.active {
  backgraound-color: #ef9796 !important;
}

.spNav {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #577d7d !important;
  border: none !important;
  border-bottom: 1px solid black !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.red {
  background-color: #ef9796 !important;
}

// Fonts
.special {
  font-family: 'Special Elite', cursive;
}

.marcellus {
  font-family: 'Marcellus SC', serif;
}

.cutiveMono {
  font-family: 'Cutive Mono', monospace;
}

.vastShadow {
  font-family: 'Vast Shadow', cursive;
}

.rye {
  font-family: 'Rye', cursive;
}

.pica {
  font-family: 'IM Fell DW Pica SC', serif;
}

.ewert {
  font-family: 'Ewert', cursive;
}

.color {
  color: azure !important;
}
// End Fonts

.buttonHolder {
  text-align: center;
}

.boxShadow {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=135, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 7px 7px 18px 3px rgba(0,0,0,0.6);/*FF 3.5+*/
  -webkit-box-shadow: 7px 7px 18px 3px rgba(0,0,0,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 7px 7px 18px 3px rgba(0,0,0,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=135, Color=#000000); /*IE 5.5-7*/
}

// Buttons
.spBtn {
  border: 1px solid black !important;
}

.spBtn:hover {
  border: 0 !important;
}

.spinner {
  position: fixed !important;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5) center center no-repeat;
}

.centered {
  float: none;
  margin: 0 auto;
}

.buttonShadow {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=29, Direction=94, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 1px 16px 29px -5px rgba(0,0,0,0.6);/*FF 3.5+*/
  -webkit-box-shadow: 1px 16px 29px -5px rgba(0,0,0,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 1px 16px 29px -5px rgba(0,0,0,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=29, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.textShadow {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#ffffff)" !important;/*IE 8*/
  text-shadow: 3px 3px 3px #ffffff !important;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#ffffff) !important;
}

.logo {
  border-radius: 10px;
  width: 50px !important;
  height: 50px !important;
  display: block;
}

footer {
  position: fixed;
  width: 100%;
  height: 50px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  hr {
    padding: 0;
    margin: 0;
    border: 1px solid black;
  }
  .version {
    text-align: center;
    padding-top: 15px !important;
  }
}

// Cool Gradients
.spCustomGradRed {
  border: 1px solid #f5f2d5 !important;
  background: -moz-radial-gradient(50% 50%, circle cover, #98ABBD 15%, #DC8381 100%) !important;
  background: -webkit-radial-gradient(50% 50%, circle cover, #98ABBD 15%, #DC8381 100%) !important;
  background: -o-radial-gradient(50% 50%, circle cover, #98ABBD 15%, #DC8381 100%) !important;
  background: -ms-radial-gradient(50% 50%, circle cover, #98ABBD 15%, #DC8381 100%) !important;
  background: radial-gradient(50% 50%, circle cover, #98ABBD 15%, #DC8381 100%) !important;
}

.spCustomGradGreen {
  border: 1px solid #f5f2d5 !important;
  background: -moz-radial-gradient(50% 50%, circle cover, #95b198 15%, #85BABC 100%) !important;
  background: -webkit-radial-gradient(50% 50%, circle cover, #95b198 15%, #85BABC 100%) !important;
  background: -o-radial-gradient(50% 50%, circle cover, #95b198 15%, #85BABC 100%) !important;
  background: -ms-radial-gradient(50% 50%, circle cover, #95b198 15%, #85BABC 100%) !important;
  background: radial-gradient(50% 50%, circle cover, #95b198 15%, #85BABC 100%) !important;
}

// Reference for media widths
@media (max-width: 767px) {
  .show-xs {
    display: none !important;
  }
  .showIt {
    display: block;
  }
  //.resHeight {
  //  height: 250px !important;
  //}
  .mobile {
    height: auto !important;
  }
}

@media screen and (max-width: 640px) {
  .nukeIt {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-sm {
    display: none !important;
  }
  .responsiveSection {
    height: auto !important;
  }
  //.resHeight {
  //  height: 250px !important;
  //}
  .mobile {
    height: auto !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .show-md {
    display: none !important;
  }
  .showIt {
    display: none;
  }
}

@media (min-width: 1200px) {
  .show-lg {
    display: none !important;
  }
  .showIt {
    display: none;
  }
}

#notDoneClass {
  color: black;
  background-color: red;
  opacity: 0.5;
}

.doneClass {
  color: black !important;
  background-color: green !important;
  opacity: 0.5 !important;
}

.base-class {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.my-class {
  color: red;
  font-size:3em;
}

//==================================
//              Tests
//==================================

.fadeIn {
  animation-duration: 3s !important;
}

//==================================
//            Animations
//==================================

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-delay: 3s;
  animation-iteration-count: 6;
  animation-name: flash;
}

.well {
  height: 60px;
}

//==================================
//              FILES
//==================================
// @import '_base';
@import '_validation';

// emailscreamingneedletattoo@gmail.com