html {
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: 'Donegal One', serif;
    background: #FFEE00;
}

body {
    width: 50rem;
    position: relative;
    background: #FFEE00;
    margin: 0 auto;
    border-left: 2px solid #FF6400;
    border-right: 2px solid #FF6400;
}

h1, h2 {
    text-align: center;
    background: #FF6400;
    font-family: 'Lily Script One', cursive;
}

h1 {
    font-size: 6rem;
    margin: 0;
    background: -webkit-linear-gradient(top, #FF9640, #FF6400);
    background: -moz-linear-gradient(top, #FF9640, #FF6400);
    background: -ms-linear-gradient(top, #FF9640, #FF6400);
    background: linear-gradient(top, #FF9640, #FF6400);
    text-shadow: 1px 1px 1px #FF6400, 2px 2px 1px black;
}

h2 {
    font-size: 2.4rem;
}