<div class="spacer"></div>
<div class="container">
    <div class="form-inputs">
          <div class="row">
              <div class="col-md-4">
                  <div class="well">
                      <p class="centerFont" ng-model="ttc.inTime">
                         {{punchedIn}} {{ttc.inTime}}
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="well">
                      <p class="centerFont" ng-model="ttc.outTime">
                          {{punchedIn}} {{ttc.outTime}}
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="well">
                      <p class="centerFont">
                          {{ttc.hours}}
                      </p>
                  </div>
              </div>
              <div class="row">
                  <form class="form buttonGrouping" role="form">
                      <button ng-if="!punchedIn" class="btn btn-danger btn-lg" type="button" ng-click="ttc.punchIn()">
                          Punch In
                          <i class="fa fa-sign-in"></i>
                      </button>
                      <button ng-if="punchedIn" class="btn btn-danger btn-lg" type="button" ng-click="ttc.punchOut()">
                          Punch Out
                          <i class="fa fa-sign-out"></i>
                      </button>
                      <button class="btn btn-danger btn-lg" type="button" ng-click="ttc.getHours()">
                          Total Hours
                          <i class="fa fa-clock-o"></i>
                      </button>
                  </form>
              </div>
          </div>
    </div>
</div>
<div class="tab-pane fade in active" id="home-1">
    <form action="#" id="sky-form" class="sky-form">
        <header>Datepicker</header>
        <fieldset>
            <section>
                <label class="label">Select single date</label>
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input type="text" name="date" id="date">
                </label>
            </section>
            <label class="label">Select date range</label>
            <div class="row">
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="start" id="start" placeholder="Start Date"
                            onblur="placeholder='Start Date'" onfocus="placeholder=''">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="finish" id="finish" placeholder="Expected Finish Date"
                            onblur="placeholder='Expected Finish Date'" onfocus="placeholder=''">
                    </label>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <section>
                <label class="label">Select single date with inline Datepicker</label>
                <div id="inline"></div>
            </section>
            <label class="label">Select date range with inline Datepickers</label>
            <div class="row">
                <section class="col col-6">
                    <div id="inline-start"></div>
                </section>
                <section class="col col-6">
                    <div id="inline-finish"></div>
                </section>
            </div>
        </fieldset>
    </form>
</div>