@import '../../styles/variables';

.fontStyle {
  font-size: 20px;
  text-align: center;
}

.centerFont {
  text-align: center;
}

.defaultWidth {
  width: $sp1;
}

.spTodoList {
  background-color: #2ae1ff;
  height: 300px;
}

.spTodoListToggle {
  background-color: #00b3ee;
  height: 300px;
}

.spBtnWidth {
  width: auto !important;
}

.marginBottom {
  margin-bottom: 15px !important;
}

.spacer_xs {
  height: $spacer_xs;
}