<div class="spacer"></div>
<div class="buttonHolder">
    <h1 class="centerFont" ng-mousemove="hc.count = hc.count + 1">Hover over me and watch the count.</h1>
    Your counter {{hc.count}}<br>

    <button type="button" ng-click="hc.reset()" class="btn btn-success">
        Reset
    </button>
</div>
<div>
    <div class="spacer"></div>
    <div class="buttonHolder">
        <span class="fontStyle">{{Time}}</span><br>
        <span class="fontStyle">{{day}}</span>
    </div>
    <div class="spacer"></div>
</div>
<div class="spacer"></div>
<div class="container">
    <div class="col-md-6 spTodoList">
        <h1 class="centerFont">Todo List</h1>
        <form ng-submit="todoAdd()">
            <div class="col-md-10 col-md-offset-1">
                <label class="control-label"></label>
                <input class="form-control" type="text" ng-model="todoInput" size="50" placeholder="Add Todo">
            </div>
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label"></label>
                <input class="btn btn-primary form-control spBtnWidth" type="submit" value="Add Todo">
            </div>
        </form>
    </div>
    <div class="col-md-6 spTodoListToggle">
        <div class="col-md-3 col-md-offset-1 marginBottom">
            <label class="control-label"></label>
            <button class="btn btn-warning form-control spBtnWidth" ng-click="hc.removeTodo()">
                Remove Marked
                <i class="fa fa-trash"></i>
            </button>
            <!-- TODO: Need to figure out why the spacer value isn't being used thus needing to put inline. -->
            <div class="spacer_xs" style="height: 10px"></div>
        </div>
        <br>
        <div class="col-md-10 col-md-offset-1">
            <div ng-repeat="x in todoList">
                <label class="control-label"></label>
                <input type="checkbox" title="checkbox" ng-model="x.done"> - {{x.todoText}}
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>