<nav class="navbar navbar-inverse spNav buttonShadow">
    <div class="container" ng-controller="NavbarCtrl as vm">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand color special" href="javascript:void(0)">
                Spire &nbsp;&nbsp;
                <span>

                    {{today}}
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active: isActive('/home') }">
                    <a class="color special" href="#!/home">Home</a>
                </li>
                <li ng-class="{ active: isActive('/about') }">
                    <a class="color special" href="#!/about">About</a>
                </li>
                <li ng-class="{ active: isActive('/contact') }">
                    <a class="color special" href="#!/contact">Contact</a>
                </li>
                <li ng-class="{ active: isActive('/time-tracker') }">
                    <a class="color special" href="#!/time-tracker">Time Tracker</a>
                </li>
                <li ng-class="{ active: isActive('/testing') }">
                    <a class="color special" href="#!/testing">Testing</a>
                </li>
                <li>
                    <a class="color special" href="javascript:void(0)" style="padding: 0">
                        <img class="logo textShadow" src="../../assets/images/logo.png" style="padding: 0">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
