<div class="spacer"></div>
<div class="container" style="width: 35%; height: auto; background-color: #85babc; border-radius: 6px">
    <h2 style="text-align: center">TimeStamp Converter</h2>
    <hr style="margin: 0; padding: 0">
    <div class="row">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <label class="control-label"></label>
                <input class="form-control" title="Enter Timestamp" ng-keyup="$event.keyCode == 13 ? tc.convert() : null"
                       type="number" ng-model="tc.inputDate" placeholder="Enter TimeStamp...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-1">
                <label class="control-label"></label>
                <button type="button" class="btn btn-primary form-control" style="width: auto" ng-click="tc.convert()">
                    Convert
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="col-md-3">
                <label class="control-label"></label>
                <button type="button" class="btn btn-primary form-control spBtnWidth" ng-click="tc.getCurrent()">
                    Current Time
                    <i class="fa fa-clock-o"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row animated flash">
        <div class="col-md-8 col-md-offset-1">
            <div style="height: 120px">
                <div style="height: 30px"></div>
                <dl>
                    <dt>Converted Date: </dt>
                    <dd style="height: 25px">{{tc.convertedDate}}</dd>
                    <dt>Current Date: </dt>
                    <dd style="height: 25px">
                        <a id="currentTime" style="font-weight: bold" data-clipboard-text="{{tc.currentTime}}">
                            {{tc.currentTime}}
                        <span><i ng-if="hasValue" class="fa fa-copy"></i></span>
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-2">
            <div style="height: 70px"></div>
            <button class="btn spCustomGradRed pull-right" type="button" ng-click="tc.clear()">
                Clear
            </button>
        </div>
    </div>
</div>
